<div id="password_form">
  <%= link_to "Change Password", "#password_form .collapse", :class=>"btn btn-info center-block", :data=>{:toggle=>"collapse", :parent=>"password_form"} %>
  <div class="panel-collapse collapse">
    <%= form_for @user, :url=>update_password_user_path(@user),:remote=>true do |form| %>
      <%= edit_fields form, :label=>"Change Password" do %>
	<%= edit_field_simple(form, :current_password, :format=>:password_field) %>
	<%=password_credential_edit_fields form %>
      <% end %>
    <% end %>
  </div>
</div>
