<% q = Transfer.involving(@user) %>
<% q = q.where(:on_dashboard=>true) if params[:action] == 'dashboard' %>
<% q.order(:created_at).reverse_order.each do |transfer| %>
  <% color = transfer.user_id == @user.id ? "bg-danger" : "bg-success" %>
  <div class="row transfer <%= color %>" id="transfer_<%=transfer.id%>">
    <div class=clearfix>
      <div class="pull-left avatar">
	<% other = transfer.other_user(@user) %>
	<%= link_to show_avatar(other, :thumb), other %>
      </div>
      <div>
	<div class="pull-left">
	  <div>
	    <% if transfer.user_id == @user.id %>
	      To: <%= transfer.recipient.full_name %>
	    <% else %>
	      From: <%= transfer.user.full_name %>
	    <% end %>
	  </div>
	  <div>
	    <%= transfer.created_at_tz.strftime "%m/%d/%y %I:%M%p"%>
	  </div>
	  <div>
	    <%= transfer.note %>
	  </div>
	</div>
	<div class="pull-right">
	  <%= number_to_currency(transfer.amount) %>
	  <% if params[:action] == 'dashboard' %>
	    <div>
	      <%= dashboard_close_button transfer %>
	    </div>
	  <% end %>
	</div>
      </div>
    </div>
  </div>
<% end %>
