<div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
  <div id="password_form">
    <h1>Change Password</h1>

    <p>A new password was sent to you by email to your account on record.
      Please enter that password as 'Current Password' before setting your
      new password.</p>

    <div class="row">
      <%= form_for @user, :url=>update_password_user_path(@user),:remote=>true do |form| %>
	<%= hidden_field_tag :source, "change_password"%>
	<%= edit_fields form, :label=>"Change Password" do %>
	  <%= edit_field_simple(form, :current_password, :format=>:password_field) %>
	  <%=password_credential_edit_fields form %>
	<% end %>
      <% end %>
    </div>
  </div>
</div>
