<h1>Users</h1>

<%= paged_search_header admin_users_path, @users, :first_name, :last_name, :email %>
<table class="table">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= sed_buttons user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= new_button Admin::User %>
