<div class=show>
  <div class=row>
    <div class="col-sm-3">
      <div><%=show_avatar @user%></div>
    </div>
    <div  class="col-sm-8">
      <%= show_fields @user do %>
        <%= user_fields @user %>
	<%= show_field @user, :credentials, @user.credential_type_list%>
	<%= show_field @user, :venmo_signup, @user.venmo_active?%>
	<% if @user.venmo %>
  	  <%= show_field @user, :venmo_declined, @user.venmo.declined?%>
	  <%= show_field @user, :venmo_token_expires, @user.venmo.access_token_expires_at || "missing expiration" %>
	<% end %>
      <% end %>
      <%= show_navigation @user %>
    </div>
  </div>
</div>

