<!DOCTYPE html>
<html>
<head>
  <title>Bet U A Buck</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render :partial=>'layouts/header2' if session[:user_id] %>
  </header>
  <%= content_for?(:common_content) ? yield(:common_content) : yield %>

  <footer>
  </footer>

</body>
</html>
