<% content_for :common_content do %>
<div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 featured">
  <div class="row">
    <div class="col-sm-4">
      <%= render :partial=>"users/avatar", :locals=>{:user=>@user}%>
      <% if session[:is_admin] %>
	<p>
	  <%= admin_button %>
	</p>
      <% end %>
      <%= render :partial=>"messages/list", :locals=>{:messages=>Message.current} %>
      <div class="new-chat-message">
	<%= render :partial=>"messages/form2", :locals=>{:user=>@current_user}%>
      </div>
    </div>
    <div class="col-sm-8">
      <div class='row text-center pnav'>
	<div class="center-block">
	  <%= user_navigation %>
	</div>
      </div>
      <%= yield %>
    </div>
  </div>
</div>
<% end %>
<%= render template: "layouts/application" %>
